table,td,th {
    border: 1px solid;
    font-size: xx-large;
    position: static;
    padding: 50px;
   background-color: rgb(166, 190, 190);
   margin-left: 70px;
}

footer {background-color: rgb(64, 95, 95);
font-size: x-large;
text-align: center;
text-decoration-style: double;
background-size: 20%;
}
.photo{
    width: 120px;
    height: 200px;
}
form {
    position: relative;
    font-size: x-large;
    text-align: left;
}
.intro {
    font-size: xx-large;
    border: 1px solid;
    background-color: paleturquoise;

}
li {
    font-size:x-large;
    background-color: bisque;
}